@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevenção de seleção de texto em botões para parecer nativo mobile */
button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}